H1 {
    background-color: #88FF88;
    font-size: 16pt;
}
H2 {
    background-color: #CCFFCC;
    font-size: 14pt;
}
H3 {
    background-color: #DDFFCC;
    font-size: 12pt;
}
DT {
    background-color: #EEFFCC;
    font-size: 12pt;
}
